@model List<ZeroHunger.Models.FoodRequest>

@{
    Layout = "_EmployeeLayout";
}


<div class="container mt-4">
    <h2>Food Requests</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Food Quantity</th>
                <th>Status</th>
                <th>Preserve Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var foodRequest in Model)
            {
                <tr>
                    <td>@foodRequest.FoodName</td>
                    <td>@foodRequest.FoodQuantity</td>
                    <td>@foodRequest.Status</td>
                    <td>@foodRequest.PreserveDate</td>
                    <form method="post" asp-controller="Employee" asp-action="Accept">
                    
                    <td>
                        <input type="hidden" name="foodRequestId" value="@foodRequest.Id" />
                        <button type="submit" class="btn btn-success">Accept</button>

                    </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
</div>